@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
@import url('https://fonts.bunny.net/css?family=Nunito');
@import 'variables';
@import '../dashboard/css/dark.css';    

body {
    background-color: #fff;
    color: #000;
    font-family: 'Nunito', sans-serif;
}
.wrapper {
    display: block !important;
    min-height: 100vh;
}